<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    
    <servlet>
        <servlet-name>CreateCompany</servlet-name>
        <servlet-class>servlets.CreateCompany</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>CreateCompany</servlet-name>
        <url-pattern>/createcompany/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CreateEmployeeToken</servlet-name>
        <servlet-class>servlets.CreateEmployeeToken</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>CreateEmployeeToken</servlet-name>
        <url-pattern>/createemployeetoken/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CreateEmployee</servlet-name>
        <servlet-class>servlets.CreateEmployee</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>CreateEmployee</servlet-name>
        <url-pattern>/createemployee/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CreateCompanyToken</servlet-name>
        <servlet-class>servlets.CreateCompanyToken</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>CreateCompanyToken</servlet-name>
        <url-pattern>/createcompanytoken/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CompanyGetPassword</servlet-name>
        <servlet-class>servlets.CompanyGetPassword</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CompanyGetPassword</servlet-name>
        <url-pattern>/companygetpassword/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>EmployeeGetPassword</servlet-name>
        <servlet-class>servlets.EmployeeGetPassword</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>EmployeeGetPassword</servlet-name>
        <url-pattern>/employeegetpassword/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateEmployeeCreateToken</servlet-name>
        <servlet-class>servlets.CreateEmployeeCreateToken</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CreateEmployeeCreateToken</servlet-name>
        <url-pattern>/createemployeecreatetoken/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ClockIn</servlet-name>
        <servlet-class>servlets.ClockIn</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ClockIn</servlet-name>
        <url-pattern>/clockin/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ClockOut</servlet-name>
        <servlet-class>servlets.ClockOut</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ClockOut</servlet-name>
        <url-pattern>/clockout/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DeleteEmployee</servlet-name>
        <servlet-class>servlets.DeleteEmployee</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteEmployee</servlet-name>
        <url-pattern>/deleteemployee/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>UpdateEmployeeDetails</servlet-name>
        <servlet-class>servlets.UpdateEmployeeDetails</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateEmployeeDetails</servlet-name>
        <url-pattern>/updateemployeedetails/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogOutEmployee</servlet-name>
        <servlet-class>servlets.LogOutEmployee</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogOutEmployee</servlet-name>
        <url-pattern>/logoutemployee/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogOutCompany</servlet-name>
        <servlet-class>servlets.LogOutCompany</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogOutCompany</servlet-name>
        <url-pattern>/logoutcompany/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChangeEmployeePassword</servlet-name>
        <servlet-class>servlets.ChangeEmployeePassword</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ChangeEmployeePassword</servlet-name>
        <url-pattern>/changeemployeepassword/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChangeCompanyPassword</servlet-name>
        <servlet-class>servlets.ChangeCompanyPassword</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ChangeCompanyPassword</servlet-name>
        <url-pattern>/changecompanypassword/*</url-pattern>
    </servlet-mapping>

</web-app>