<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    
    <servlet>
        <servlet-name>CreateCompany</servlet-name>
        <servlet-class>servlets.CreateCompany</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>CreateCompany</servlet-name>
        <url-pattern>/createcompany/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CreateEmployee</servlet-name>
        <servlet-class>servlets.CreateEmployee</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>CreateEmployee</servlet-name>
        <url-pattern>/createemployee/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CompanyCheckPassword</servlet-name>
        <servlet-class>servlets.CompanyCheckPassword</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CompanyCheckPassword</servlet-name>
        <url-pattern>/companycheckpassword/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>EmployeeCheckPassword</servlet-name>
        <servlet-class>servlets.EmployeeCheckPassword</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>EmployeeCheckPassword</servlet-name>
        <url-pattern>/employeecheckpassword/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ClockIn</servlet-name>
        <servlet-class>servlets.ClockIn</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ClockIn</servlet-name>
        <url-pattern>/clockin/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ClockInOrOut</servlet-name>
        <servlet-class>servlets.ClockInOrOut</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ClockInOrOut</servlet-name>
        <url-pattern>/clockinorout/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CompanyDeleteEmployee</servlet-name>
        <servlet-class>servlets.CompanyDeleteEmployee</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CompanyDeleteEmployee</servlet-name>
        <url-pattern>/companydeleteemployee/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>UpdateEmployeeDetails</servlet-name>
        <servlet-class>servlets.UpdateEmployeeDetails</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateEmployeeDetails</servlet-name>
        <url-pattern>/updateemployeedetails/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>servlets.LogOut</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/logout/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChangeEmployeePassword</servlet-name>
        <servlet-class>servlets.ChangeEmployeePassword</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ChangeEmployeePassword</servlet-name>
        <url-pattern>/changeemployeepassword/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChangeCompanyPassword</servlet-name>
        <servlet-class>servlets.ChangeCompanyPassword</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ChangeCompanyPassword</servlet-name>
        <url-pattern>/changecompanypassword/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteClockIn</servlet-name>
        <servlet-class>servlets.DeleteClockIn</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteClockIn</servlet-name>
        <url-pattern>/deleteclockin/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetShifts</servlet-name>
        <servlet-class>servlets.GetShifts</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetShifts</servlet-name>
        <url-pattern>/getshifts/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetAllEmployeeNames</servlet-name>
        <servlet-class>servlets.GetAllEmployeeNames</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetAllEmployeeNames</servlet-name>
        <url-pattern>/getallemployeenames/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>filters.AuthenticationFilter</filter-class>
    </filter>

    <filter>
        <filter-name>UserFilter</filter-name>
        <filter-class>filters.UserFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <session-config>
        <session-timeout>20</session-timeout>
    </session-config>

    <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
</welcome-file-list>

</web-app>