
/* navbar spesifikasjoner */
.navbar {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 0px;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
/* gjør at teksten i navbaren endrer farge når man holder musen over */
.navbar-nav  li a:hover {
    color: #00bead !important;
}


/* text /typografi spesifikasjoner*/
h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    line-height: 1.8;
    color: #f5f6f7;
}


h2 {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 1.2;
    color: #f5f6f7;
}

h3 {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 1.8;
    color: #000000;
}

h4 {
    font-family: 'Inter', sans-serif;
    font-size: 60px;
    line-height: 1.2;
    color: #f5f6f7;
}

body {

     font-family: 'Inter', sans-serif;
     line-height: 1.5;
     color: #f5f6f7;

 }

p {font-size: 16px;}
.margin {margin-bottom: 45px;

}

/* rød ramme */
.box {
    padding: 2px;
    width: 50%;
    margin: 0 auto 10px;
    outline: 3px solid #00bead;

    outline-offset: 5px;
}

.input {
    border: 1px solid #00bead;
    border-radius: 10px;
    margin: 10px;
    background: none;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 20px;
    position: relative;
    outline: none;
}

/* Bakgrunner */
 .bg-1 {
    background-color: #151515; /* Black Gray */
    color: #ffffff;
}

.bg-2 {
    background-color: #444c61; /* Light Blue */
    color: #ffffff;
}
.bg-3 {
    background-color: #21272C; /* Dark Blue */
    color: #ffffff;
}
.bg-4 {
    background-color: #ffffff; /* White */
    color: #252525;
}

.bg-logo-green {
    background-color: #00bead;
}


/* bakgrunn henger igjen når man skroller */
.fixed {
    background-image: url(Images/Banner_BG.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.fixed2 {
    background-image: url(Images/About-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}

/* padding for container */
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}


/* buttons */
.btn{
    border: 1px solid #00bead;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    transition: 0.2s;
    position: relative;
    overflow: hidden;

}
.btn1{
    color: #fff;
}
.btn1:hover{
    color: #00bead;
}


.btn2{
    color: #ffffff;
    padding: 0 0;
}
.btn2:hover{
    color: #00bead;
    background: rgba(0, 190, 173, 0.49);
}

/* galleri for Portfolio */
.gallery {
    margin: 0 50px;
}
.gallery img {
    transition: 0.2s;
    padding: 10px;
    width: 420px;
}
.gallery img:hover {
    transform: scale(1.1);
}

#ClockedIn {
     position: relative;
     display: none;
     width: 200px;
     height: 100px;
 }

#clockedOut {
    position: relative;
    display: none;
    width: 400px;
    height: 300px;
}

#text {
    position: relative;
    font-size: 20px;
    color: white;
}

#textClockOutError {
    position: relative;
    font-size: 20px;
    color: white;
}

#dateTimeClockOut {
    margin: .4rem 0;
}

#dateTimeClockIn {
    margin: .4rem 0;
}

#clockOutError {
    position: relative;
    display: none;
    width: 400px;
    height: 300px;
}


/*Clock in/out btn*/
